<div class="container mx-auto flex mt-12">
  <div class="w-1/2 text-center">
    <p class="mt-12 text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
      maiores sunt error eum at laudantium accusamus sit vel est eos! Hic
      corporis reiciendis doloremque quod maxime, nemo provident quisquam
      molestias! Placeat quia, consequatur culpa tenetur nihil magnam possimus,
      necessitatibus sint inventore sed quasi dolores eligendi aliquam, quidem
      deleniti ipsum! Consectetur sit natus vitae, illo atque porro omnis
      aliquam accusantium iste. Neque, repudiandae quos
    </p>
    <button class="btn-blue mt-6">Get Started</button>
  </div>

  <div class="w-1/2">
    <img class="mx-auto" src="./src/assets/images/hero.svg" alt="hero" />
  </div>
</div>
