<div class="container mx-auto bg-gray-100 mt-4 rounded-xl">
  <nav class="flex items-center justify-between">
    <div>
      <a href="/">
        <img
          class="h-16 w-16 rounded-full"
          src="https://picsum.photos/seed/picsum/200/300"
          alt="logo"
        />
      </a>
    </div>
    <ul class="flex space-x-6">
      <li>
        <a href="#" class="text-gray-900 hover:text-green-700 cursor-pointer">
          Projects
        </a>
      </li>
      <li>
        <a href="#" class="text-gray-900 hover:text-green-700 cursor-pointer">
          Projects
        </a>
      </li>
      <li>
        <a href="#" class="text-gray-900 hover:text-green-700 cursor-pointer">
          Pricing
        </a>
      </li>
      <li>
        <a href="#" class="text-gray-900 hover:text-green-700 cursor-pointer">
          About
        </a>
      </li>
      <li>
        <a href="#" class="text-gray-900 hover:text-green-700">Contact</a>
      </li>
    </ul>
    <button
      class="px-6 py-2 capitalize bg-blue-400 rounded-full text-white mr-2 hover:bg-blue-500"
    >
      Sign Up
    </button>
  </nav>
</div>
