<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./src/styles.css" />
    <title>Laning With TailWinds</title>
  </head>
  <body>
    <!-- navbar start -->
    <div class="container mx-auto bg-gray-100 mt-4 rounded-xl">
      <nav class="flex items-center justify-between">
        <div>
          <a href="/">
            <img
              class="h-16 w-16 rounded-full"
              src="https://picsum.photos/seed/picsum/200/300"
              alt="logo"
            />
          </a>
        </div>
        <ul class="flex space-x-6">
          <li>
            <a
              href="#"
              class="text-gray-900 hover:text-green-700 cursor-pointer"
            >
              Projects
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-gray-900 hover:text-green-700 cursor-pointer"
            >
              Projects
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-gray-900 hover:text-green-700 cursor-pointer"
            >
              Pricing
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-gray-900 hover:text-green-700 cursor-pointer"
            >
              About
            </a>
          </li>
          <li>
            <a href="#" class="text-gray-900 hover:text-green-700">Contact</a>
          </li>
        </ul>
        <button class="btn-blue">
          Sign Up
        </button>
      </nav>
    </div>
    <!-- navbar end -->

    <!-- Hero Section Start-->
    <div class="container mx-auto flex mt-24">
      <div class="w-1/2 text-center">
        <p class="mt-12 text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
          maiores sunt error eum at laudantium accusamus sit vel est eos! Hic
          corporis reiciendis doloremque quod maxime, nemo provident quisquam
          molestias! Placeat quia, consequatur culpa tenetur nihil magnam
          possimus, necessitatibus sint inventore sed quasi dolores eligendi
          aliquam, quidem deleniti ipsum! Consectetur sit natus vitae, illo
          atque porro omnis aliquam accusantium iste. Neque, repudiandae quos
        </p>
        <button class="btn-blue mt-6">Get Started</button>
      </div>

      <div class="w-1/2">
        <img class="mx-auto" src="./src/assets/images/hero.svg" alt="hero" />
      </div>
    </div>
    <!-- Hero Section End -->

    <!-- Main Section Start -->
    <div class="container mx-auto flex mt-12 mb-12">
      <div class="w-1/3 text-center justify-center">
        <h1 class="text-2xl text-blue-900">Web Development</h1>
        <img
          src="./src/assets/images/web.svg"
          class="h-48 w-48 mx-auto"
          alt="web"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, ipsam
          provident tempora numquam a culpa ab architecto ducimus, sit, magni
          aspernatur dolorum nesciunt dignissimos. Voluptate vero voluptatem id
          inventore temporibus.
        </p>
      </div>
      <div class="w-1/3 text-center justify-center">
        <h1 class="text-2xl text-blue-900">Network Development</h1>
        <img
          src="./src/assets/images/mobile.svg"
          class="h-48 w-48 mx-auto"
          alt="mobile"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, ipsam
          provident tempora numquam a culpa ab architecto ducimus, sit, magni
          aspernatur dolorum nesciunt dignissimos. Voluptate vero voluptatem id
          inventore temporibus.
        </p>
      </div>
      <div class="w-1/3 text-center justify-center">
        <h1 class="text-2xl text-blue-900">Mobile Development</h1>
        <img
          src="./src/assets/images/network.svg"
          class="h-48 w-48 mx-auto"
          alt="network"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, ipsam
          provident tempora numquam a culpa ab architecto ducimus, sit, magni
          aspernatur dolorum nesciunt dignissimos. Voluptate vero voluptatem id
          inventore temporibus.
        </p>
      </div>
    </div>
    <!-- Main Section End -->

    <!-- Pricing Start -->
    <div class="container mx-auto">
      <div class="text-center">
        <h1 class="text-3xl text-blue-900 font-bold">Pricing</h1>
        <p class="mt-4 text-2xl">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, animi
          illum provident recusandae iusto harum rerum, nam assumenda, quos
          quibusdam laborum? Cupiditate officiis quibusdam ea libero earum
          quisquam dignissimos quaerat!
        </p>
      </div>

      <div class="grid grid-cols-3 gap-2 mx-32 mt-12">
        <div
          class="bg-gray-100 rounded-3xl w-80 mt-14 hover:shadow-2xl cursor-pointer marker: text-center"
        >
          <h1 class="text-blue-900 text-4xl mt-2">$199</h1>
          <h2 class="text-blue-500 mb-3 mt-4">Basic</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fugiat
            tempora animi dolor laborum? Deserunt magnam quos
          </p>
          <ul class="text-center ml-6">
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
          </ul>
          <button class="btn-blue mt-6 mb-2 hover:bg-red-500">
            get started
          </button>
        </div>
        <div
          class="bg-gray-100 rounded-3xl w-80 mt-5 hover:shadow-2xl cursor-pointer marker: text-center border-blue-500 border-dashed border-4"
        >
          <h1 class="text-blue-900 text-4xl mt-2">$199</h1>
          <h2 class="text-blue-500 mb-3 mt-4">Basic</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fugiat
            tempora animi dolor laborum? Deserunt magnam quos
          </p>
          <ul class="text-center ml-6">
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
          </ul>
          <button class="btn-blue mt-6 mb-2 hover:bg-red-500">
            get started
          </button>
        </div>
        <div
          class="bg-gray-100 rounded-3xl w-80 mt-14 hover:shadow-2xl cursor-pointer marker: text-center"
        >
          <h1 class="text-blue-900 text-4xl mt-2">$199</h1>
          <h2 class="text-blue-500 mb-3 mt-4">Basic</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fugiat
            tempora animi dolor laborum? Deserunt magnam quos
          </p>
          <ul class="text-center ml-6">
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
            <li class="flex items-center mt-4">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-blue-500 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                  />
                </svg>
              </div>
              <div class="capitalize ml-3">core bussiness system</div>
            </li>
          </ul>
          <button class="btn-blue mt-6 mb-2 hover:text-white hover:bg-red-500">
            get started
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
